<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilos.css">
  <title>Listado de Reportes</title>
  
</head>

<body>
  <h1>Listado de Reportes</h1>

  <!-- Botón de cerrar sesión -->
  <form action="/logout" method="POST">
    <button class="logout-btn" type="submit">Cerrar sesión</button>
  </form>

  <a href="/crear-reporte" class="new-issue-btn">Crear nuevo reporte</a>
  <div class="issue-list">
    <% issues.forEach(issue=> { %>
      <div class="issue">

        <div class="issue-info">
          <h3>Reporte #<%= issue.id %> - <%= issue.autor %>
          </h3>
          <span class="status">
            <%= issue.estado==='abierto' ? 'Estado: Abierto' : 'Estado: Cerrado' %>
          </span>
        </div>

        <p class="details">
          <strong>Título del error:</strong>
          <%= issue.tituloError %><br>

            <strong>Descripción:</strong>
            <%= issue.descripcionError %><br>

              <strong>Nivel de Gravedad:</strong>
              <%= issue.gravedad %><br>

                <strong>Fecha de Detección:</strong>
                <%= issue.fechaDeteccion %><br>

                  <strong>Fecha de Apertura:</strong>
                  <%= issue.fechaApertura %><br>
        </p>

        <div class="comments">
          <h4>Comentarios:</h4>
          <% issue.mensajes.forEach(mensaje=> { %>
            <p><strong>
                <%= mensaje.autor %>
              </strong> (<%= mensaje.fechaComentario %>): <%= mensaje.comentario %>
            </p>
            <% }) %>
        </div>

        <% if (issue.estado==='abierto' ) { %>
          <div class="comment-input">
            <form action="/reportes" method="POST">
              <input type="hidden" name="issueId" value="<%= issue.id %>">
              <input type="text" name="comentario" placeholder="Añadir comentario..." required>
              <button id="comentar" type="submit">Comentar</button>
            </form>

            <% if (username==='admin' ) { %>
              <div class="action-buttons">
                <form action="/reportes" method="POST">
                  <input type="hidden" name="issueId" value="<%= issue.id %>">
                  <input type="hidden" name="admin" value="true">
                  <button type="submit">Cerrar reporte</button>
                </form>
              </div>
              <% } %>
          </div>
          <% } else if (issue.estado==='cerrado' && username==='admin' ) { %>
            <div class="comment-input">
              <form action="/reportes" method="POST">
                <input type="hidden" name="issueId" value="<%= issue.id %>">
                <input type="hidden" name="admin" value="true">
                <input type="hidden" name="issueAbrir" value="true">
                <button type="submit" name="submit" value="reabrir">Reabrir reporte</button>
              </form>
            </div>
            <% } %>

      </div>
      <% }) %>
  </div>
</body>

</html>